

/* My Code */
a {
  text-decoration: none;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}


body {
background: #fff; /* fallback for old browsers #8DC26F "Roboto", sans-serif*/
  background: -webkit-linear-gradient(right, #f1f1f1, #fff);
  background: -moz-linear-gradient(right,#f1f1f1, #fff);
  background: -o-linear-gradient(right, #f1f1f1, #fff);
  background: linear-gradient(to left,#f1f1f1, #fff);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/*style*/
.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background-color:red;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

button {
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.searchtext {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchtext:focus {
    width: 100%;
}

#barmenu {
	width:324px;
	right:0px;
	height:42.5px;	
}

#barmenu input {
	width:170px;
}

#barmenua {
	width:270px;
	right:0px;
	height:42.5px;	
}

#barmenua input {
	width:170px;
}

#barmenuu {
	width:272px;
	right:0px;
	height:42.5px;	
}

#barmenuu input {
	width:170px;
}

@media (max-width:993px) {
	#barmenu {
		width:370px!important;
	}
	#barmenua {
		width:320px!important;
	}
	#barmenuu {
		width:320px!important;
	}
}
